body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f06, #48f);
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.time {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s, color 0.3s;
}

.start {
    background-color: #28a745;
    color: #fff;
}

.start:hover {
    background-color: #218838;
}

.restart {
    background-color: #ffc107;
    color: #fff;
}

.restart:hover {
    background-color: #e0a800;
}

.stop {
    background-color: #dc3545;
    color: #fff;
}

.stop:hover {
    background-color: #c82333;
}
